# Ignore specific files
French Vocabulary.apkg
exported_words.json

# Ignore all .apkg files
*.apkg

# Ignore all .json files
*.json

# Ignore all .log files
*.log

*.tex

*.pdf

# Ignore JetBrains IDE settings
.idea/

# Ignore compiled Python bytecode
__pycache__/

# Ignore macOS custom attributes
.DS_Store